body {
    background: #0A192F;
    min-height: 100%;
    font-family: sans-serif;
    margin: auto;
}

#gameContainer {
    width: 98%;       
    height: 100vh;
    margin: 20px auto;
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

#gameContainer iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.gameAlign {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 0px auto;
}

p {
    color: #ffffff;
    font-size: 1.2rem;
}

h1  {
    color: #c29e27;
    font-size: 2.5rem;
    border-bottom: rgba(255, 255, 255, 0.2) 2px solid;
}

a.back {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px 16px;
    text-decoration: none;
    color: #e6f1ff;
}

a.back:hover { 
    background: rgba(255, 255, 255, 0.2);
}

.top {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
    padding: 12px 20px 0 20px;
}

.top h1 {
    align-content: center;
    color: #ffffff;
}